<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            &copy; 2017 mkyong.com
            <span sec:authorize="isAuthenticated()">
                | Usuario Logado: <span sec:authentication="name"></span> |
                <!--Roles: <span sec:authentication="principal.authorities"></span> |-->
                <a th:href="@{/logout}">Logout</a>
            </span>

            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>