<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:inline="text">Olá [[${#httpServletRequest.remoteUser}]]!</h1>

        <h1>Lista de Propostas</h1>

        <table class="table table-bordered table-responsive" onload="">
            <thead>
            <tr>
                <th> Descricao </th>
                <th> Status </th>
                <th> Data Cadastro </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${propostas.empty}">
                <td colspan="2"> Não há propostas </td>
            </tr>
            <tr th:each="proposta : ${propostas}">
                <td><span th:text="${proposta.descricao}"> Descricao </span></td>
                <td><span th:text="${proposta.status}"> Status </span></td>
                <td><span th:text="${proposta.dataCadastro}"> Data Cadastro </span></td>
                <!--form th:action="@{/analisar-proposta}"  th:object="${proposta}" method="post"-->
                <td><form action="#" th:action="@{/analisar-proposta/} + ${{proposta.id}}" method="get">
                    <button th:id="'table_entry_childs_button_' + ${proposta.id}" type="submit">
                        <i>Alterar Status</i>
                    </button>
                </form></td>
                <!--/form-->
            </tr>
            </tbody>
        </table>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>
</body>
</html>