<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:inline="text">Olá [[${#httpServletRequest.remoteUser}]]!</h1>
        <h1>Lista de Propostas</h1>

        <h2> Ações: <a th:href="@{/cadastrar-proposta}">Cadastrar Proposta</a></h2>

        <table class="table table-bordered table-responsive" id="table">
            <thead>
            <tr>
                <th> Descricao </th>
                <th> Status </th>
                <th> Data Cadastro </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${propostas.empty}">
                <td colspan="2"> Não há propostas </td>
            </tr>
            <tr th:each="proposta : ${propostas}">
                <td><span th:text="${proposta.descricao}"> Descricao </span></td>
                <td><span th:text="${proposta.status}"> Status </span></td>
                <td><span th:text="${proposta.dataCadastro}"> Data Cadastro </span></td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>
</body>
</html>